body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 70px;
}

.welcome {
    padding-top: 300px;
}

.text-large {
    font-size: 5.5em;
}

.page {
    min-height: 700px;
}

.today-random {
    padding-top: 100px;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid #008966 1px;
    width: 100%;
    height: 70px;
}

.jumbotron h1 {
    padding-bottom: 50px;
}
